<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>
        #principal {
            margin: 50px 150px 50px 250px;
            text-align: left;
        }

        #titulo_clientes {
            color: #245FAD;
            margin: 45px 30px 20px 30px;
            text-align: center;
        }

        #botones {
            margin-top: 20px;
            text-align: right;
        }

        #btn_actualizar {
            color: #FFFFFF;
        }

        input {
            width: 100%;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="col-lg-12">
        <nav id="menu" class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/shoes/clientes">Clientes</a>
            <a class="navbar-brand" href="/shoes/compras">Compras</a>
            <a class="navbar-brand" href="/shoes/zapatos">Zapatos</a>
        </nav>
    </div>
    <%const c = arregloClientes.find(cliente => cliente.codigoCli= codigoCli)%>
    <div class="row">
        <div id="titulo_clientes" class="col-lg-12"><h1>Actualizar cliente</h1></div>
    </div>
    <form action="/shoes/clientes/actualizar" method="post">
        <div id="principal" class="row justify-content-md-center">
            <input type="hidden" name="_method" value="PUT">
            <input id="clienteID" type="text" value="<%= c.codigoCli %>" name="codigoCli" hidden>
            <div class="col-lg-4">
                <label for="nombreID">Nombre</label>
            </div>
            <div class="col-lg-8">
                <input id="nombreID" class="form-control" name="nombre" type="text" value="<%= c.nombre %>" required>
            </div>
            <div class="col-lg-4">
                <label for="apellidoID">Apellido</label>
            </div>
            <div class="col-lg-8">
                <input id="apellidoID" class="form-control" name="apellido" type="text" value="<%= c.apellido %>" required>
            </div>
            <div class="col-lg-4">
                <label for="cedulaID">Cédula</label>
            </div>
            <div class="col-lg-8">
                <input id="cedulaID" class="form-control" name="cedula" type="number" value="<%= c.cedula %>" required>
            </div>
            <div id="botones" class="col-lg-12">
                <button id="btn_actualizar" type="submit" class="btn btn-primary">Agregar cambios</button>
                <a href="/shoes/clientes">
                    <button type="button" class="btn btn-danger">Cancelar</button>
                </a>
            </div>
        </div>
    </form>

</div>
</body>
</html>