<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <form action="/api/usuario" method="post">

        <div class="row">
            <div class="col-md-6">
                <label for="usuarioId">Ingrese su nombre de usuario</label>
            </div>
            <div class="col-md-6">
                <input id="usuarioId" name="usuario" type="text">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <button>Ingresar</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>