<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>
        CINECALIDAD
    </title>

    <style>
        h2,	li {
            float: left;
            border-radius: 10px 10px 10px 10px;
            -moz-border-radius: 10px 10px 10px 10px;
            -webkit-border-radius: 10px 10px 10px 10px;
            border: 5px solid #000000;
            color: white;
            background-color: black;
            font-size: 70%;


        }
        .espacio{
            text-indent: 2em;
        }
    </style>
</head>

<body>

<div class="container">
    <div class="row">
        <div class="col-sm-3" align="left">
            Películas en excelente calidad Full HD.<br>
            Audio latino e inglés online.<br>
            1 link, 1 click.
        </div>
        <div class="col-lg-6" align="center">
            <img src="/imagenes/stark.png" alt="">
        </div>
        <div class="col-sm-3" align="right">
            MUNDO
        </div>
    </div>
    <div class="row">
        <table>

        </table>
        <div id="menu-categorias" class="col-lg-9">
            <h2>hola</h2>
            <a class="espacio"></a>
            <h2> mundo </h2>
            <a class="espacio"></a>
        </div>
        <div class="col-md-3" align="center">.
            HOLA
        </div>
    </div>


</div>

</body>

</html>