Adios mundo
<% const nombre = 'Paul'; %>
<%= nombre%>
<% const arreglo = [1,2,3,4,5]; %>
<% arreglo.forEach(valorActual=>{ %>
<p>
   Numero: <%= valorActual %>
</p>
<% });%>
<ol>
<% arreglo.forEach(valorActual=>{ %>
    <li>
        Numero: <%= valorActual %>
    </li>
<% });%>
</ol>
<% if(estaVivo){%>
    <h1>ESTAA VIVOOO!!!</h1>
    <% }%>
<% const objeto= {nombre: 'Adrian'}; %>
<% objeto.nombre %>