//rutas
//login get
//login post
//logout get
//protegida get
<form action="/api/login" method="post">
    <label for="username">Username</label>
    <input type="text" id="username" name="username">

    <label for="password">Password</label>
    <input type="text" id="password" name="password">
    <button type="submit">Ingresar</button>
</form>