<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Estilos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .separador {
            margin-bottom: 10px;
        }

        div {
            width: 100%;
        }

        #opcion {
            border-radius: 50px 50px 50px 50px;
            border: 1px solid #000000;
            background-color: black;
            color: white;
            font-size: small;

        }

    </style>
</head>
<body>
<div clas="container">
    <div class="row">
        <div class="col-sm-3">
            <h2 align="left">hola</h2>
        </div>
        <div class="col-md-6">
            <h1 align="center">hola</h1>
        </div>
        <div class="col-sm-3">
            <h2 align="right">hola</h2>
        </div>
    </div>
    <div class="separador"></div>
    <!--<div class="row">-->
    <!--<div class="col-sm-3">-->
    <!--<h2 align="left">hola</h2>-->
    <!--</div>-->
    <!--<div class="col-md-6">-->
    <!--<h1 align="center">hola</h1>-->
    <!--</div>-->
    <!--<div class="col-sm-3">-->
    <!--<h2 align="right">hola</h2>-->
    <!--</div>-->
    <!--</div>-->
    <div class="separador"></div>
    <div class="row">
        <div class="row">
            <h2 id="opcion" class="col-sm-2">Acción</h2>
            <h2 id="opcion" class="col-sm-2">Anime</h2>
            <h2 id="opcion" class="col-sm-2">Romance</h2>
            <h2 id="opcion" class="col-sm-2">Arte</h2>
        </div>

    </div>
</div>
<div class="col-sm-3">

</div>
</div>
</div>
</body>
</html>