<!DOCTYPE html>
<html lang="fr">
<head>
    <!--
    metadatos
    información extra que puede utilizar el navegador
    -->
    <title>PELÍCULAS</title>
    <meta charset="UTF-8">
    <!-- <link rel="icon" href="/images/stark.ico">-->
    <!-- <link rel="icon" href="http://localhost:300//imagenes/stark.ico">-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        table, td, th{
            border: solid #0b5e0d 1px;
        }
    </style>

</head>
<body>
<!-- header 1-->
<h1>titulo 1</h1>
<h2>titulo 2</h2>
<h3>titulo 3</h3>
<h4>titulo 4</h4>
<h5>titulo 5</h5>
<h6>titulo 6</h6>
<p>Este es mi párrafo <span>ccccc</span></p>
<!-- Unodered list -->
<ul>
    <li>1</li> <!-- list item-->
    <li>2</li>
</ul>

<!-- Ordered list -->
<ol>
    <li>a</li>
    <li>b</li>
    <li>c</li>
</ol>
<a href="http://www.google.com" target="_blank">Google externo</a>
<a href="http://www.google.com"  target="_self">Google aqui mismo</a>

<!-- Image-->
<img src="/imagenes/stark.png" alt="Tony stark">

<form action="">
    <label for="nombre">Nombre: </label>
    <input id="nombre" type="text">
    <button>Enviar datos</button>
</form>

<label for="nombre">Nombre: </label>
<input id="nombre" type="text">
<button>Enviar datos</button>
<br>
<br><br>
<br><br>
<br><br>
<br>


<table>
    <!-- table row-->
    <tr>
        <!-- table header -->
    <th>Nombres</th>
    <th>Apellidos</th>
    </tr>

    <tr>
        <!-- table detail -->
        <td>Cristian Paul</td>
        <td>Betancourt Buestán</td>
    </tr>
</table>

<iframe src="https://saew.epn.edu.ec"  frameborder="10"></iframe>
<!--- Contenedor -->
<div>
    asdfghjkl
</div>
</body>
</html>